
.team-heading {
    background-color: gray;
    color: white;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 25px;
    opacity: 50%;
    border-bottom: black solid 2px;
}
body {
    background-color: peachpuff;
    width: 100%;
    
}

#header {
    width: 100%;
    text-align: center;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    text-shadow: 0 0 10px #FF0000;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.list-group-item {
    background-color: rgb(255, 60, 0);
    opacity: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

a, a:hover {
    color: #212529;
}
.card-header:first-child {
    border-top-left-radius: 24px 24px;
    border-top-right-radius: 24px 24px;
    background-color: gray;
    border: solid black 1px;
    
}

.card-header {
    height: 130px;
    margin: auto;
}
.card {
    background-color: peachpuff;
    border: 0;
    width: 220px;
    margin-top: 20px;
}

.card-body {
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    border-bottom-left-radius: 24px 24px;
    border-bottom-right-radius: 24px 24px;
    
}

.container {
    height: auto;
    margin-bottom: 40px;
}

.card-header, .card-body {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 15px #888888;
}

.container-fluid {
    height: 800px;
    box-shadow: 1px 1px 10px 10px black inset;
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}
